@model GenericViewModel<Software>


<!-- link the style sheet -->
<link rel="stylesheet" href="~/css/Software/software.css">

<!-- main content -->
<div class="container">
    <div class="jumbotron">
        <div class="upperContainer">
            <form asp-controller="Software" asp-action="Details" method="GET">
                <input class="form-control" type="text" name = "softwareName" placeholder="Search Software by Name" aria-label="Search" required>
            </form>
            <a class="btn btn-primary btn-lg add-button" asp-controller="Software" asp-action="AddNewSoftware" >Add New Software</a>
        </div>
        
        <hr>
        

        <div class="row">
            @foreach (var software in @Model.AssetType)
            {
                <div class="software col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img src = "https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        <h5>@software.SoftwareName</h5>
                        <p>Price : $@software.AssetPrice</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" asp-controller="Software" asp-action="UpdateSoftware" asp-route-Id="@software.AssetId" >Update</a>
                            <form asp-controller="Software" asp-action="Delete" asp-route-id="@software.AssetId" method="POST">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
