@model GenericViewModel<Printer>


<!-- link the style sheet -->
<link rel="stylesheet" href="~/css/Printer/printer.css">

<!-- main content -->
<div class="container">
    <div class="jumbotron">
        <div class="upperContainer">
            <form asp-controller="Printer" asp-action="Details" method="GET">
                <input class="form-control" type="text" name = "printerName" placeholder="Search printers" aria-label="Search" required>
            </form>
            <a class="btn btn-primary btn-lg add-button" asp-controller="Printer" asp-action="AddNewPrinter" >Add New Printer</a>
        </div>
        
        <hr>
        

        <div class="row">
            @foreach (var printer in @Model.AssetType)
            {
                <div class="printer col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img src = "https://images.unsplash.com/photo-1495046370729-fa5e793723e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        <h5>@printer.PrinterName</h5>
                        <p>Price : $@printer.AssetPrice</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" asp-controller="Printer" asp-action="UpdatePrinter" asp-route-Id="@printer.AssetId" >Update</a>
                            <form asp-controller="Printer" asp-action="Delete" asp-route-id="@printer.AssetId" method="POST">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
