@model Book

<link rel="stylesheet" href="~/css/Book/AddNewBook.css">

<div class="container">
    <div class="jumbotron">
        <form class="form" asp-controller="Book" asp-action="AddNewBook" method="POST">
            <div class="form-group">
                <label asp-for="BookTitle">Book Title</label>
                <input type="text" class="form-control" asp-for="BookTitle" placeholder="Enter Book Name" >
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookAuthorName" >Book Author Name</label>
                <input type="text" class="form-control" asp-for="BookAuthorName" placeholder="Author Name" >
                <span asp-validation-for="BookAuthorName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BookPublisher" >Book Publisher</label>
                <input type="text" class="form-control" asp-for="BookPublisher" placeholder="Book Publisher Name" >
                <span asp-validation-for="BookPublisher" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AssetPrice" >Book Price $</label>
                <input class="form-control" asp-for="AssetPrice" placeholder="Price" >
                <span asp-validation-for="AssetPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookPublishedYear" >Book Published Year</label>
                <input class="form-control" asp-for="BookPublishedYear" placeholder="Published Year" >
                <span asp-validation-for="BookPublishedYear" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
